{% extends "base.html" %}

{% block title %}
  Ethics Agreement  –  Can I Still Code
{% endblock title %}
{% block content %}
  <div class="columns is-centered">
    <div class="column is-12">
      <h1 class="title">
        Ethics Agreement <span class="tag is-info">v{{ document.version }}</span>
      </h1>
      <div class="content box">
        {{ document.body|safe }}
      </div>

      <form method="post">
        {% csrf_token %}
        <h2 class="subtitle">Your Consent</h2>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" name="consent" id="id_consent" required />
            {{ form.consent.label }}
          </label>
          {% if form.consent.errors %}<p class="help is-danger">{{ form.consent.errors.0 }}</p>{% endif %}
        </div>


        <div class="field is-grouped mt-5">
          <div class="control">
            <button type="submit" class="button is-primary is-medium">Give Consent</button>
          </div>
          <div class="control">
            <a href="{% url 'consent:declined' %}" class="button is-light is-medium">Decline</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
