{% extends "base.html" %}

{% block title %}
  {% block head_title %}Sign In{% endblock head_title %}
{% endblock title %}
{% block main %}
  <div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop">
      {% if messages %}
        {% for message in messages %}
          <div class="notification {% if message.tags %}is-{{ message.tags }}{% endif %}">
            <button class="delete"></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
      {% block extra_body %}
      {% endblock extra_body %}
    </div>
  </div>
{% endblock main %}
