<div class="columns is-multiline">
  <div class="column is-narrow">
    <div class="box has-text-centered" style="min-width: 120px;">
      <p class="heading">Participants</p>
      <p class="title">{{ participant_count }}</p>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box has-text-centered" style="min-width: 120px;">
      <p class="heading">Sessions completed</p>
      <p class="title">{{ session_count }}</p>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box has-text-centered" style="min-width: 120px;">
      <p class="heading">Challenges completed</p>
      <p class="title">{{ challenges_completed }}</p>
    </div>
  </div>
  <div class="column is-narrow">
    <div class="box has-text-centered" style="min-width: 120px;">
      <p class="heading">Avg challenges / session</p>
      <p class="title">{{ avg_challenges_per_session }}</p>
    </div>
  </div>
</div>
